apiVersion: v1
kind: ServiceAccount
metadata:
  name: stellaris-core-manager
  namespace: stellaris-system

---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: stellaris-core-manager-clusterrolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: "cluster-admin"
subjects:
  - kind: ServiceAccount
    name: stellaris-core-manager
    namespace: stellaris-system

---

apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: stellaris-core-manager-role
  namespace: stellaris-system
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - configmaps/status
    verbs:
      - get
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create

---

apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: stellaris-core-manager-rolebinding
  namespace: stellaris-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: stellaris-core-manager-role
subjects:
  - kind: ServiceAccount
    name: stellaris-core-manager
    namespace: stellaris-system

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: stellaris-core-manager
  namespace: stellaris-system
  labels:
    app: stellaris-core-manager
spec:
  replicas: 1
  selector:
    matchLabels:
      app: stellaris-core-manager
  template:
    metadata:
      labels:
        app: stellaris-core-manager
    spec:
      serviceAccountName: stellaris-core-manager
      containers:
        - name: stellaris-core-manager
          image: sangshen/stellairis-core:v1.0.0
          imagePullPolicy: Always
          args:
            - --master=https://10.1.11.238:6443
            - --listen-port=8080
            - --health-probe-addr=:9001
            - --webhook-cert-dir=/etc/k8s-webhook-certs
            - --webhook-port=9443
          ports:
            - containerPort: 9443
              name: webhook-server
              protocol: TCP
            - containerPort: 8080
              name: grpc
              protocol: TCP
          volumeMounts:
            - mountPath: /etc/k8s-webhook-certs
              name: webhook-certs
              readOnly: true
      volumes:
        - name: webhook-certs
          secret:
            secretName: stellaris-webhook-cert