apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Release.Name }}-webhook-create
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
  labels:
    app: {{ .Release.Name }}-webhook-create
spec:
  template:
    metadata:
      name: {{ .Release.Name }}-webhook-create
      labels:
        app: {{ .Release.Name }}-webhook-create
    spec:
      containers:
      - name: create-secret
        image: wonderflow/kube-webhook-certgen:v2.1
        imagePullPolicy: IfNotPresent
        args:
        - create
        - --host={{ .Release.Name }}-webhook-svc,{{ .Release.Name }}-webhook-svc.{{ .Release.Name }}-system.svc
        - --namespace={{ .Release.Namespace }}
        - --secret-name={{ .Release.Name }}-webhook-cert
        - --key-name=tls.key
        - --cert-name=tls.crt
      restartPolicy: OnFailure
      serviceAccountName: {{ .Release.Name }}-webhook-admission
      securityContext:
        runAsGroup: 2000
        runAsNonRoot: true
        runAsUser: 2000